body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('resources/Sky-bg.jpg');
    background-size: cover cover;
    background-repeat: repeat-x;
    background-position: center;
    font-family:'Courier New', Courier, monospace;
    color: gray;
}

.header, footer {
    display: flex;
    justify-content: center;
    padding: 0.5em 1em 0.5em 4em;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
}

.header {
    font-size: 4em;
    -webkit-text-stroke: 2px white;
    font-family: 'Pixelify Sans', 'Roboto', sans-serif;
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff80, #0080ff, #0000ff, #8000ff);
    background-clip: text;
    color: transparent;
    white-space: nowrap;
}


.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.color-container {
    /* background-color: yellow; */
    border-radius: 20px;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

#color {
    width: 150%;
    height: 150%;
    margin: -10px;
    padding: -10px;
    border: none;
    outline: none;
    background: none;
}

.top-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.grid-buttons {
    height: 60px;
    width: 670px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    /* background-color: yellow; */
}

.grid-buttons > button {
    background-color: #FD8A8A;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 2px dashed #FFF5E4;
    cursor: pointer;
}

.container {
    display: flex;
    height: 100%;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
}

.left-container {
    /* background-color: blue; */
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px;
}

.left-container > button {
    background-color: #FD8A8A;
    height: 50px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1em;
    color: white;
    border: 2px dashed #FFF5E4;
    cursor: pointer;
}

.grid-buttons img {
    width: 30px;
}

.grid-details {
    display: flex;
}

.grid-details input {
    width: 100px;
    margin-right: 10px;
}

.grid-container {
    background-color: red;
    display: grid;
    min-height: 550px;
    min-width: 550px;
    width: 550px;
    height: 550px;
    margin: 20px;
    /* border: 1px solid black; */
}

.grid-item {
    width: 100%;
    background-color: #FFF0F1;
    border: 0.1px ridge #cfc;
    cursor: crosshair;
}

.right-container {
    /* background-color: green; */
    padding: 10px;
    margin: 20px;
}

.recent-colors > ul {
    list-style-type: none;
    padding: 0;
}

.recent-colors > ul > li {
    margin-bottom: 25px;
}

footer {
    margin-top: auto;
    padding: 0.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}