body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header, footer {
    padding: 1em;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-buttons > button {
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.color-container {
    background-color: yellow;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    overflow: hidden;
}

#color {
    width: 150%;
    height: 150%;
    margin: -10px;
    padding: -10px;
    border: none;
    outline: none;
    background: none;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: yellow;
    justify-content: center;
}

.left-container {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px;
}

.left-container > button {
    background-color: red;
    height: 50px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(16, 1fr);
    gap: 1px;
    width: 900px;
    height: 900px;
    margin: 20px;
}

.grid-item {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: none;
}

.right-container {
    background-color: green;
}

#right-options {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin: 100px 10px;
    gap: 10px;
}

.recent-colors > ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}

footer {
    margin-top: auto;
    padding: 1em;
}